.idea
.pytest_cache
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
3dunet/logs/

# PyTorch models
*.pytorch

# data files
data/

# snippets folder
snippets